<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>square</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homeStyle.css') }}">
</head>
<body>
    <header>
        <div>
            正整數平方計算結果
        </div>
    </header>
    <main>
        
        <div class="error">
            {{ data }}
        </div>
        
        <a href="/" class="back">返回登入頁面</a>
    </main>
    
</body>
</html>