body{
    margin: 0px;
}

header{
    display: flex;
    background-color: #1D3446;
    justify-content: center;
    align-items: center;
    height: 100px;

}
header div {
    color:white;
    font-size: 36px;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.password{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.agree{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.text{
    margin-right: 10px;
    font-size: 18px;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 50px;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 30px;
}

.number{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}